.AuthPage {
	height: 100%;
	display: grid;
	justify-content: space-evenly;
	align-items: center;
	background-color: lightblue;
	border-radius: 2vmin;
	margin: 2rem;
	padding: 5rem;
}


button {
	background-color: black;
}