.NewOrderPage {
	height: 100%;
	display: grid;
	grid-template-columns: 1.5fr 3.5fr 3fr;
	grid-template-rows: 1fr;
	background-color: lightgreen;
	border-radius: 5px;
}

.NewOrderPage aside {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}